

{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Linked Stylesheets-->
    <link
      rel="shortcut icon"
      href="https://www.nutrishopusa.com/sites/all/themes/nutrblue/favicon.ico"
      type="image/vnd.microsoft.icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
      integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="{%static './assets/bootstrap-5.2.0-dist/css/bootstrap.min.css'%}"
    />
    <link rel="stylesheet" href="{%static './assets/style/product-page.css'%}" />
    <link rel="stylesheet" href="{%static './assets/style/index.css'%}" />
    <title>NUTRIPOSA - Blog</title>
  </head>
  <body class="changeBlackToWhite bgChangeBlackToWhite">
    <!--Nav Section-->
    <nav class="position-sticky navbar navbar-expand-lg px-5 py-4" id="nav">
      <a class="navbar-brand fs-1 fw-bold text-light" href="{%url 'home'%}"
        >NUTRIPOSA</a
      >
      <button
        id="navbar-toggler-btn"
        class="btn border navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
      >
        <span class="bi-list fs-1 text-light"></span>
      </button>
      <button
        id="night-toggler"
        class="btn py-0 px-3 position-absolute bi-toggle-off fs-1 text-light"
      ></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul
          class="navbar-nav ms-auto me-auto fs-5 d-flex align-items-lg-center"
        >
          <li class="nav-item mx-2">
            <a class="active nav-link text-light" href="{%url 'home'%}">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-light" href="{%url 'supplement' %}"
              >Supplements</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-light" href="{% url 'services'%}"
              >Services</a
            >
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-light" href="{%url 'about'%}"
              >About Us</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!--Body section-->
    <section class="container mt-3">
      <div
        class="d-flex flex-column justify-content-center align-items-center my-3 border-bottom border-2 border-dark"
      >
        <span class="fs-4">{{product.title}}</span>
        <!-- <span class="fs-2 fw-bold">Complete Protein Stack</span> -->
      </div>
      <img
        class="product-img d-block"
        src="{{product.image.url}}"
        loading="lazy"
      />
      <div class="my-3">
        <div
          class="d-flex justify-content-center fs-4 fw-bold border border-2 border-dark"
        >
          Description
        </div>
        <p class="mt-2">
      
     {{product.body}}
        </p>

        <!--Contact Information about the where the customer details-->

        <div
          class="mt-2 mb-2 d-flex justify-content-center fs-4 fw-bold border border-2 border-dark"
        >
          More information
        </div>
        <p>
          {{product.body2}}
        </p>
      </div>

       <!-- Trending section -->
       <div class="container carousel">
        <i class="bi bi-arrow-right-square fs-1 customNextBtn"></i>
        <i class="bi bi-arrow-left-square fs-1 customPrevBtn"></i>
        <h4>Trending</h4>
        <div class="bb-text owl-carousel">

          {%for trending in trending %}
          <div class="cards">
            <a href="" style="text-decoration: none; color: black">
              <img
                src="{{trending.image.url}}"
                alt=""
              />
              <h4>{{trending.title}}</h4>
              <p>
               {{trending.body|truncatechars:70}}
              </p>
              <a href="{{trending.Link}}">
                <button class="btn py-2 px-3 mb-5 btn-theme-control">
                  Learn more
                </button>
            </a>
          </div>

          {%endfor%}
        </div>
      </div>

    </section>

    <!--Stay connected article-->
    <article class="container-fluid service-contact py-5">
      <div class="container d-lg-flex text-center">
        <span class="d-block fs-1 fw-bold me-2 me-lg-5">STAY CONNECTED</span>
        <span class="d-block border p-3 flex-grow-1 rounded-3 fs-4 my-2 my-lg-0"
          >TEXT <b>NS USA</b> TO <b>877-351-0010</b></span
        >
      </div>
      <div class="container">
        Stay connected with the Nutrishop Text Club program to receive text
        messages on product releases, exclusive savings, giveaways, and more.
        Consent is not a condition of purchase. Message and data rates may
        apply. You will receive up to four automated, reoccurring messages per
        month. Reply STOP to cancel and HELP for more information. View our
        Terms and Privacy Policy.
      </div>
    </article>

    <!--Last Article-->
    <article
      class="container d-lg-flex px-lg-0 py-5 justify-content-lg-between"
    >
      <div class="d-flex flex-column">
        <span class="fs-3 fw-bold mb-2">NUTRIPOSA</span>
        <span class="my-2">Find a Nutrishop</span>
        <span class="my-2">Open a Nutrishop</span>
        <span class="my-2">About Us</span>
      </div>
      <div class="d-flex flex-column">
        <span class="mt-5">Find a Nutrishop</span>
        <span class="my-2">Open a Nutrishop</span>
        <span class="my-2">About Us</span>
        <span class="my-2">About Us</span>
      </div>
      <div class="d-flex flex-column">
        <span class="mt-5">Find a Nutrishop</span>
        <span class="my-2">Open a Nutrishop</span>
        <span class="my-2">About Us</span>
      </div>
      <div class="d-flex flex-column">
        <form class="border contact-form p-3 mt-5 mt-lg-0">
          <label for="username" class="ps-1">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
          />
          <label for="password" class="ps-1 mt-3">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
          />
          <button
            id="loginBtn"
            class="btn w-100 my-3 px-4 py-2 btn-theme-control"
          >
            Login
          </button>
          <div class="text-center">
            <span class="d-block">Create New Account</span>
            <span class="d-block">Request New Password</span>
          </div>
        </form>
      </div>
    </article>

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="{%static './assets/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static './assets/js/index.js'%}"></script>
    <script src="{%static './assets/js/supplements-theme-changer.js'%}"></script>

    <script>
      $(".bb-text").owlCarousel({
        margin: 10,
        loop: true,
        autoplay: true,
        autoplayTimeout: 10000,
        stagePadding:50,
        autoplayHoverPause: true,
        responsive: {
          0: {
            items: 1,
          },
          650: {
            items: 2,
          },
          1000: {
            items: 3,
          },
        },
      });
      var owl = $(".bb-text");
      owl.owlCarousel();
      // Go to the next item
      $(".customNextBtn").click(function () {
        owl.trigger("next.owl.carousel");
      });
      // Go to the previous item
      $(".customPrevBtn").click(function () {
        // With optional speed parameter
        // Parameters has to be in square bracket '[]'
        owl.trigger("prev.owl.carousel", [300]);
      });
    </script>
  </body>
</html>
